#titre{
    text-align: center;
    text-decoration: underline;
}
#containeur_form{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 70px;
    height: 460pxpx;

}
#form{
    display: flex;
    flex-direction: column;
    width: 40%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(252, 222, 168);
    box-shadow: -5px -5px 15px 5px #000000;



    label{
        text-decoration: underline;
    }
    input{
        width: 30%;
        margin: auto;
        margin-bottom: 15px;
        border: 1px solid black;
        border-radius: 3px;
    }
    input[type="submit"]{
        margin-top: 50px;
    }
}
