#titre{
    text-align: center;
    text-decoration: underline;
}
#containeur_form{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 70px;
    // padding-top: 45px;
    background-color: #8B6C42;
    height: 460px;

}
#form1{
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(252, 222, 168);
    box-shadow: 5px 5px 15px 5px #000000;



    label{
        text-decoration: underline;
        margin-top: 30px;
    }
    input{
        width: 25%;
        margin: 10px auto;
        border: 1px solid black;
        border-radius: 3px;
    }
    input[type="submit"]{
        margin-top: 35px;
    }
}
main{
    background-color: #8B6C42;
}
